

<div full-height class="page secondary-nav">
	<header class="page-header" id="mint-header">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button id="mint-menu-button" type="button" class="navbar-toggle collapsed">
		              <span class="icon-bar top-bar"></span>
		              <span class="icon-bar middle-bar"></span>
		              <span class="icon-bar bottom-bar"></span>
		            </button>
		            <div class="brand-wrap">
		            	<a class="navbar-brand"></a>
		            </div>
				</div>
				<div class="navbar-collapse collapse clearfix">
					<div class="pull-right">
						<a class="btn btn-primary"><i class="fa fa-lock"></i>Sign Up</a>
					</div>
					<ul class="nav navbar-nav pull-right">
						<li><a>Log In</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	<megamenu class="megamenu" toggle-button="#mint-menu-button" header="#mint-header">
		<div class="container">
			<ul class="menu-column-list">
				<li><strong>How It Works</strong></li>
				<li>
					<strong class="mint-green">Mint</strong>
					<ul>
						<li><a>All in one</a></li>
						<li><a>Easy budgeting</a></li>
						<li><a>Free credit score</a></li>
						<li><a>Alerts and advice</a></li>
						<li><a>Simple organization</a></li>
						<li><a>Investment tracking</a></li>
						<li><a>Safe and secure</a></li>
					</ul>
				</li>				
			</ul>
			<ul class="menu-column-list">
				<li><strong>How It Works</strong></li>
				<li>
					<strong class="mint-green">Mint Bills</strong>
					<ul>
						<li><a>Bills all together</a></li>
						<li><a>Easy bill pay</a></li>
						<li><a>Important alerts</a></li>
						<li><a>Safe and secure</a></li>
					</ul>
				</li>				
			</ul>
			<ul class="menu-column-list">
				<li class="spacer"><strong>Find Savings</strong></li>
				<li class="spacer"><strong>Support</strong></li>
				<li><strong>Tools &amp; Tips</strong></li>
			</ul>
			<ul class="menu-column-list borderless">
				<li class="brand intuit">
					<img src="/assets/images/intuit-logo-222x66.png" />
					<strong>Explore other ways Intuit <br class="visible-lg" />can simplify your life:</strong>
				</li>
				<li class="brand turbotax">
					<a href="#/concept/d/turbotax">
						<span>Simplify your taxes</span>
						<img src="/assets/images/turbotax-logo-396x87.png" />
					</a>
				</li>
				<li class="brand quickbooks">
					<a href="#/concept/d/quickbooks">
						<span>Simplify your business</span>
						<img src="/assets/images/quickbooks-logo-447x81.png" />
					</a>
				</li>
			</ul>
		</div>
	</megamenu>

	<div class="page-body">
		<img src="/assets/images/conceptA/mint-body.jpg" class="img-responsive" />
	</div>
	
</div>