

<div full-height class="page secondary-nav">
	<header class="page-header" id="quickbooks-header">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button id="qb-menu-button" type="button" class="navbar-toggle collapsed">
		              <span class="icon-bar top-bar"></span>
		              <span class="icon-bar middle-bar"></span>
		              <span class="icon-bar bottom-bar"></span>
		            </button>
		            <div class="brand-wrap">
		            	<a class="navbar-brand"></a>
		            </div>
				</div>
				<div class="navbar-collapse collapse clearfix">
					<div class="pull-right">
						<a class="btn btn-primary">Buy Now</a>
					</div>
					<ul class="nav navbar-nav pull-right">
						<li><a>Sign In</a></li>
						<li><a>Free Trial</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	<megamenu class="megamenu" toggle-button="#qb-menu-button" header="#quickbooks-header">
		<div class="container">
			<ul class="menu-column-list">
				<li><strong>Small Business</strong></li>
				<li><a>Features</a></li>
				<li><a>Pricing</a></li>
				<li><a>Apps</a></li>
				<li><a>Checks &amp; Supplies</a></li>
				<li><a>Find a QuckBooks Expert</a></li>
				<li><a>Switch to QuickBooks Online</a></li>
				<li><a>QuickBook Enterprise</a></li>
				<li><a>All Products</a></li>
			</ul>
			<ul class="menu-column-list">
				<li><strong>Accountants</strong></li>
				<li><a>QuickBooks Online Accountant</a></li>
				<li><a>QuickBooks ProAdvisor Program</a></li>
				<li><a>Payroll</a></li>
				<li><a>Payroll Full Service</a></li>
				<li><a>Payments</a></li>
				<li><a>Accountant Learn &amp; Support</a></li>
			</ul>
			<ul class="menu-column-list">
				<li><strong>Learn &amp; Support</strong></li>
				<li><a>QuickBooks Help</a></li>
				<li><a>QuickBooks Tutorials</a></li>
				<li><a>Find a QuickBooks Expert</a></li>
				<li><a>Small Business Center</a></li>
				<li><a>QuickBooks Online Blog</a></li>
			</ul>
			<ul class="menu-column-list">
				<li class="brand intuit">
					<img src="/assets/images/intuit-logo-222x66.png" />
					<strong>Explore other ways Intuit <br class="visible-lg" />can simplify your life:</strong>
				</li>
				<li class="brand turbotax">
					<a href="#/concept/d/turbotax">
						<span>Simplify your taxes</span>
						<img src="/assets/images/turbotax-logo-396x87.png" />
					</a>
				</li>
				<li class="brand mint">
					<a href="#/concept/d/mint">
						<span>Simplify your money</span>
						<img src="/assets/images/mint-logo-237x96.png" />
					</a>
				</li>
			</ul>
		</div>
	</megamenu>

	<div class="page-body">
		<img src="/assets/images/conceptA/qb-body.jpg" class="img-responsive" />
	</div>

</div>