.no-touch .view-container {
  position: relative;
}
.no-touch .view-frame.ng-enter,
.no-touch .view-frame.ng-leave {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.no-touch .view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}
.no-touch .view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.no-touch .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.no-touch .hvr-grow:hover,
.no-touch .hvr-grow:focus,
.no-touch .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
html,
body {
  color: #333;
  overflow-y: hidden;
}
html,
body,
#main,
.view-container,
.view-frame,
.page,
.page-iframe {
  height: 100%;
}
.page,
.page-iframe {
  position: relative;
  padding-bottom: 51px;
  margin-bottom: -51px;
}
.page {
  overflow-y: auto;
}
.page-iframe {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.page-header {
  position: relative;
  z-index: 100;
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
}
.page-body {
  position: relative;
  z-index: 90;
}
.page-body img {
  margin: 0 auto;
}
.navbar-inverse {
  background-color: #fff;
  border-color: #080808;
  border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #333;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: none;
}
.navbar-toggle {
  float: left;
  padding: 9px 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
  display: block;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #333;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 0;
  transition: all 0.5s;
}
.navbar-toggle .top-bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -moz-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -o-transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -moz-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -o-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
.prototype-footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  background-color: #000;
  border-top: solid 1px #919395;
  width: 100%;
  height: 51px;
}
.prototype-footer.aspirational nav ul li {
  width: 10%;
}
.prototype-footer.aspirational nav ul li:last-child {
  width: 10%;
}
.prototype-footer nav {
  width: 100%;
}
.prototype-footer nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.prototype-footer nav ul:before,
.prototype-footer nav ul:after {
  content: " ";
  display: table;
}
.prototype-footer nav ul:after {
  clear: both;
}
.prototype-footer nav ul li {
  float: left;
  width: 18%;
  box-sizing: border-box;
  border-left: solid 1px #919395;
}
.prototype-footer nav ul li:first-child {
  border-left-color: #000;
}
.prototype-footer nav ul li:last-child {
  width: 10%;
  height: 50px;
}
.prototype-footer nav ul li a {
  display: block;
  border-top: solid 5px #000;
  padding-bottom: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
}
.prototype-footer nav ul li a.active,
.prototype-footer nav ul li a:hover {
  border-top: solid 5px #f34866;
}
.prototype-footer nav ul li .bar {
  display: block;
  height: 3px;
  width: 20px;
  margin: 0 auto 2px auto;
  border-radius: 4px;
  background-color: #fff;
}
.prototype-footer nav ul li .bar:first-child {
  margin-top: 15px;
}
.has-mobile .prototype-footer.connected nav ul li {
  width: 16%;
}
.has-mobile .prototype-footer.connected nav ul li:last-child {
  width: 10%;
}
.nav-concept-a-mobile,
.nav-concept-b-mobile,
.nav-concept-c-mobile,
.nav-concept-d-mobile,
.nav-concept-e-mobile {
  display: none;
}
.nav-concept-a-mobile img,
.nav-concept-b-mobile img,
.nav-concept-c-mobile img,
.nav-concept-d-mobile img,
.nav-concept-e-mobile img {
  width: 9px;
  height: 15px;
  top: -2px;
  position: relative;
}
.menu-a .prototype-footer nav ul li.nav-concept-a-mobile,
.menu-b .prototype-footer nav ul li.nav-concept-b-mobile,
.menu-c .prototype-footer nav ul li.nav-concept-c-mobile,
.menu-d .prototype-footer nav ul li.nav-concept-d-mobile,
.menu-e .prototype-footer nav ul li.nav-concept-e-mobile {
  display: block;
  width: 10%;
}
.menu-a.is-mobile .prototype-footer .nav-concept-a-mobile a,
.menu-b.is-mobile .prototype-footer .nav-concept-b-mobile a,
.menu-c.is-mobile .prototype-footer .nav-concept-c-mobile a,
.menu-d.is-mobile .prototype-footer .nav-concept-d-mobile a,
.menu-e.is-mobile .prototype-footer .nav-concept-e-mobile a,
.menu-a:not(.is-mobile) .prototype-footer .nav-concept-a a,
.menu-b:not(.is-mobile) .prototype-footer .nav-concept-b a,
.menu-c:not(.is-mobile) .prototype-footer .nav-concept-c a,
.menu-d:not(.is-mobile) .prototype-footer .nav-concept-d a,
.menu-e:not(.is-mobile) .prototype-footer .nav-concept-e a,
.menu-f:not(.is-mobile) .prototype-footer .nav-concept-f a,
.menu-g:not(.is-mobile) .prototype-footer .nav-concept-g a,
.menu-h:not(.is-mobile) .prototype-footer .nav-concept-h a,
.menu-i:not(.is-mobile) .prototype-footer .nav-concept-i a {
  border-top: solid 5px #f34866;
}
.qb-green {
  color: #2c9e1c;
}
.mint-green {
  color: #09c675;
}
.blue {
  color: #1386c2;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.carousel .carousel-control.right,
.carousel .carousel-control.left {
  background-image: none;
}
.carousel .carousel-control:hover {
  opacity: 1;
}
.carousel .carousel-control .glyphicon {
  display: none;
}
.carousel-indicators .active {
  background-color: #0077c5;
}
.landing {
  background-color: #000;
}
.landing .button-wrap {
  position: absolute;
  top: 50%;
  margin-top: -156px;
  width: 100%;
}
.landing .button {
  display: block;
  border: solid 5px #fff;
  margin: 0 auto 30px auto;
  width: 375px;
  text-align: center;
  color: #fff;
  padding: 25px;
  text-decoration: none;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.landing .button h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.landing .button span {
  color: #a7a9aa;
}
.landing footer {
  color: #fff;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 30px;
  width: 100%;
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir/AvenirLT-Light.eot);
  src: url(../fonts/avenir/AvenirLT-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/avenir/AvenirLT-Light.woff) format('woff'), url(../fonts/avenir/AvenirLT-Light.ttf) format('truetype'), url(../fonts/avenir/AvenirLT-Light.svg#Avenir) format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir/AvenirLT-Roman.eot);
  src: url(../fonts/avenir/AvenirLT-Roman.eot?#iefix) format('embedded-opentype'), url(../fonts/avenir/AvenirLT-Roman.woff) format('woff'), url(../fonts/avenir/AvenirLT-Roman.ttf) format('truetype'), url(../fonts/avenir/AvenirLT-Roman.svg#Avenir) format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir/AvenirLT-Medium.eot);
  src: url(../fonts/avenir/AvenirLT-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/avenir/AvenirLT-Medium.woff) format('woff'), url(../fonts/avenir/AvenirLT-Medium.ttf) format('truetype'), url(../fonts/avenir/AvenirLT-Medium.svg#Avenir) format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir/AvenirLT-Heavy.eot);
  src: url(../fonts/avenir/AvenirLT-Heavy.eot?#iefix) format('embedded-opentype'), url(../fonts/avenir/AvenirLT-Heavy.woff) format('woff'), url(../fonts/avenir/AvenirLT-Heavy.ttf) format('truetype'), url(../fonts/avenir/AvenirLT-Heavy.svg#Avenir) format('svg');
  font-weight: 800;
  font-style: normal;
}
.megamenu {
  padding: 30px 0;
  font-family: inherit;
  font-weight: 200;
  color: #666;
  position: absolute;
  z-index: 95;
  background-color: #fff;
  border-top: solid 1px #d9d9d9;
}
.megamenu .menu-column-list {
  list-style-type: none;
  padding-left: 0;
  padding: 0 15px 0 25px;
  border-left: solid 1px #d9d9d9;
  min-height: 245px;
  box-sizing: border-box;
  width: 25%;
  float: left;
}
.megamenu .menu-column-list:first-child {
  border-left: none;
  padding-left: 15px;
}
.megamenu .menu-column-list.borderless {
  border-right: none;
}
.megamenu .menu-column-list ul {
  list-style-type: none;
  padding-left: 8px;
  margin-top: 6px;
}
.megamenu .menu-column-list li {
  margin-bottom: 7px;
}
.megamenu .menu-column-list li a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}
.megamenu .menu-column-list li a:hover {
  color: #2c9e1c;
}
.megamenu .menu-column-list li strong {
  font-weight: 600;
}
.megamenu .menu-column-list li.brand:last-child {
  margin-bottom: 10px;
}
.megamenu .menu-column-list li.spacer {
  margin-bottom: 30px;
}
.megamenu .menu-column-list .brand {
  display: block;
  margin-bottom: 30px;
}
.megamenu .menu-column-list .brand img {
  display: block;
}
.megamenu .menu-column-list .brand span {
  display: block;
  margin-bottom: 7px;
}
.megamenu .menu-column-list .brand.intuit {
  margin-bottom: 25px;
}
.megamenu .menu-column-list .brand.intuit img {
  height: 22px;
  width: 74px;
  margin-bottom: 10px;
}
.megamenu .menu-column-list .brand.mint img {
  height: 32px;
  width: 79px;
}
.megamenu .menu-column-list .brand.mint a:hover {
  color: #09c675;
}
.megamenu .menu-column-list .brand.turbotax img {
  height: 29px;
  width: 132px;
}
.megamenu .menu-column-list .brand.turbotax a:hover {
  color: #1386c2;
}
.megamenu .menu-column-list .brand.quickbooks img {
  height: 27px;
  width: 149px;
}
.megamenu .menu-column-list .brand.quickbooks a:hover {
  color: #2c9e1c;
}
.turbotax .megamenu .menu-column-list li a:hover {
  color: #1386c2;
}
.mint .megamenu .menu-column-list li a:hover {
  color: #09c675;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  border-bottom: none;
}
.modal-body {
  font-family: Avenir, sans-serif;
  text-align: center;
  padding: 15px 30px 40px 30px;
}
.modal-body .title {
  font-weight: 200;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.modal-body p {
  color: #6b6c71;
  font-size: 16px;
  font-weight: 200;
}
.modal-footer {
  border-top: none;
}
.quickbooks .nav1 .brand-menu li.quickbooks a,
.turbotax .nav1 .brand-menu li.turbotax a,
.mint .nav1 .brand-menu li.mint a {
  border-top-color: #0077c5;
}
.intuit .nav1 .brand-menu li.intuit {
  display: none;
}
.intuit .nav1 .brand-menu li.quickbooks a {
  background-image: url(/assets/images/conceptB/quickbooks-logo.png);
}
.intuit .nav1 .brand-menu li.quickbooks a:hover {
  background-image: url(/assets/images/conceptB/quickbooks-logo-gray.png);
}
.intuit .nav1 .brand-menu li.turbotax a {
  background-image: url(/assets/images/conceptB/turbotax-logo.png);
}
.intuit .nav1 .brand-menu li.turbotax a:hover {
  background-image: url(/assets/images/conceptB/turbotax-logo-gray.png);
}
.intuit .nav1 .brand-menu li.mint a {
  background-image: url(/assets/images/conceptB/mint-logo.png);
}
.intuit .nav1 .brand-menu li.mint a:hover {
  background-image: url(/assets/images/conceptB/mint-logo-gray.png);
}
.intuit .nav1 .safe-secure {
  display: none;
}
.intuit .nav1 .intuit-menu {
  display: block;
}
.nav1 {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.nav1 .navbar {
  height: 80px;
}
.nav1 .brand-header {
  background-color: #fff;
}
.nav1 .brand-menu {
  float: left;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.nav1 .brand-menu:before,
.nav1 .brand-menu:after {
  content: " ";
  display: table;
}
.nav1 .brand-menu:after {
  clear: both;
}
.nav1 .brand-menu li {
  border-left: solid 1px #eaebee;
  padding: 0 ;
  float: left;
  min-height: 43px;
}
.nav1 .brand-menu li:last-child {
  border-right: solid 1px #eaebee;
}
.nav1 .brand-menu li a {
  border-top: solid 5px #fff;
  padding: 6px 10px 5px 10px;
  display: block;
  text-decoration: none;
  text-indent: -5000px;
  background-repeat: no-repeat;
  background-position: center center;
}
.nav1 .brand-menu li.intuit a {
  background-image: url(/assets/images/conceptB/intuit-logo.png);
  background-size: 63px 18px;
  width: 100px;
  position: relative;
  top: -2px;
}
.nav1 .brand-menu li.quickbooks a {
  background-image: url(/assets/images/conceptB/quickbooks-logo-gray.png);
  background-size: 83px 14px;
  width: 100px;
}
.nav1 .brand-menu li.quickbooks a:hover {
  background-image: url(/assets/images/conceptB/quickbooks-logo.png);
}
.nav1 .brand-menu li.turbotax a {
  background-image: url(/assets/images/conceptB/turbotax-logo-gray.png);
  background-size: 68px 14px;
  width: 90px;
}
.nav1 .brand-menu li.turbotax a:hover {
  background-image: url(/assets/images/conceptB/turbotax-logo.png);
}
.nav1 .brand-menu li.mint a {
  background-image: url(/assets/images/conceptB/mint-logo-gray.png);
  background-size: 40px 16px;
  width: 65px;
}
.nav1 .brand-menu li.mint a:hover {
  background-image: url(/assets/images/conceptB/mint-logo.png);
}
.nav1 .safe-secure {
  float: right;
  display: block;
  line-height: 43px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: #0077c5;
}
.nav1 .safe-secure img {
  height: 17px;
  width: 15px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.nav1 .intuit-menu {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}
.nav1 .intuit-menu:before,
.nav1 .intuit-menu:after {
  content: " ";
  display: table;
}
.nav1 .intuit-menu:after {
  clear: both;
}
.nav1 .intuit-menu li {
  float: left;
}
.nav1 .intuit-menu li a.icon {
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 35px;
}
.nav1 .intuit-menu li a.icon.cart {
  background-image: url(../images/cart-blue-40x34.png);
  background-size: 20px 17px;
}
.nav1 .intuit-menu li a.icon.globe {
  background-image: url(../images/globe-blue-34x34.png);
  background-size: 17px 17px;
}
.nav1 .intuit-menu li a.icon.lock {
  background-image: url(../images/lock-blue-45x51.png);
  background-size: 15px 17px;
}
.nav1 .intuit-menu li .signup {
  font-weight: 600;
  display: inline-block;
  margin: 12px 10px 0 15px;
}
.nav1 .intuit-menu li .btn-primary {
  background-color: #ff8000;
  border-color: #ff8000;
  text-transform: uppercase;
  margin-top: 6px;
  margin-left: 15px;
  padding: 5px 12px;
}
.nav1 .page-footer {
  background-color: #eaebee;
  border-top: solid 5px #d2d4da;
  border-bottom: solid 10px #0077c5;
  padding: 30px 0;
  font-size: 12px;
}
.nav1 .page-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav1 .page-footer ul:before,
.nav1 .page-footer ul:after {
  content: " ";
  display: table;
}
.nav1 .page-footer ul:after {
  clear: both;
}
.nav1 .page-footer ul li {
  float: left;
}
.nav1 .page-footer ul.social li {
  margin-right: 10px;
}
.nav1 .page-footer ul.social li a {
  display: block;
  padding: 3px 8px 0 8px;
  background-color: #fff;
  font-size: 18px;
  border-radius: 4px;
  color: #0077c5;
  text-decoration: none;
}
.nav1 .page-footer .intuit-logo-wrap {
  margin-bottom: 15px;
}
.nav1 .page-footer .intuit-logo-wrap img {
  height: 18px;
  width: 63px;
  position: relative;
  top: -4px;
  display: inline-block;
  margin-right: 5px;
}
.nav1 .page-footer .intuit-logo-wrap span {
  font-weight: 600;
  font-size: 14px;
  color: #39393c;
}
.nav1 .page-footer .page-footer-center {
  text-align: center;
  padding-top: 5px;
}
.nav1 .page-footer .page-footer-right {
  float: right;
}
.nav1 .page-footer .page-footer-right ul {
  margin-bottom: 15px;
}
.nav1 .page-footer .page-footer-right ul li a {
  display: inline-block;
  margin: 0 8px;
}
.nav1 .page-footer .page-footer-right ul li:before {
  content: "|";
  color: #0077c5;
}
.nav1 .page-footer .page-footer-right ul li:first-child:before {
  content: "";
}
.nav1 .page-footer .page-footer-right img {
  margin-right: 8px;
}
.quickbooks .nav2 .brand-menu li.quickbooks a,
.turbotax .nav2 .brand-menu li.turbotax a,
.mint .nav2 .brand-menu li.mint a {
  background-color: #fff;
}
.nav2 .brand-menu li.quickbooks a:hover,
.quickbooks .nav2 .brand-menu li.quickbooks a {
  background-image: url(/assets/images/conceptB/quickbooks-logo.png);
}
.nav2 .brand-menu li.turbotax a:hover,
.turbotax .nav2 .brand-menu li.turbotax a {
  background-image: url(/assets/images/conceptB/turbotax-logo.png);
}
.nav2 .brand-menu li.mint a:hover,
.mint .nav2 .brand-menu li.mint a {
  background-image: url(/assets/images/conceptB/mint-logo.png);
}
.nav2 {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.nav2 .brand-wrap {
  float: left;
  position: relative;
  top: 8px;
}
.nav2 .navbar-brand {
  display: block;
  background-image: url(/assets/images/intuit-logo-white-112x32.png);
  background-repeat: no-repeat;
  background-size: 56px 16px;
  width: 65px;
  min-height: 36px;
  float: left;
  padding: 0;
  height: auto;
}
.nav2 .tagline {
  float: left;
  color: #b8cfe9;
  font-size: 14px;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  position: relative;
  top: 2px;
}
.nav2 .brand-header {
  background-color: #0077c5;
}
.nav2 .brand-menu {
  float: right;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.nav2 .brand-menu:before,
.nav2 .brand-menu:after {
  content: " ";
  display: table;
}
.nav2 .brand-menu:after {
  clear: both;
}
.nav2 .brand-menu li {
  padding: 0 ;
  float: left;
}
.nav2 .brand-menu li a {
  padding: 6px 20px 5px 20px;
  display: block;
  text-decoration: none;
  text-indent: -5000px;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.nav2 .brand-menu li a:hover {
  background-color: #fff;
}
.nav2 .brand-menu li.intuit a {
  background-image: url(/assets/images/conceptB/intuit-logo.png);
  background-size: 63px 18px;
  width: 100px;
  position: relative;
  top: -2px;
}
.nav2 .brand-menu li.quickbooks a {
  background-image: url(/assets/images/conceptC/quickbooks-logo-white.png);
  background-size: 92px 15px;
  width: 122px;
}
.nav2 .brand-menu li.turbotax a {
  background-image: url(/assets/images/conceptC/turbotax-logo-white.png);
  background-size: 75px 15px;
  width: 105px;
}
.nav2 .brand-menu li.mint a {
  background-image: url(/assets/images/conceptC/mint-logo-white.png);
  background-size: 44px 17px;
  width: 74px;
}
.bar {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.bar .brand-wrap {
  float: left;
  position: relative;
  top: 8px;
}
.bar .navbar-brand {
  display: block;
  background-image: url(/assets/images/conceptB/intuit-logo.png);
  background-repeat: no-repeat;
  background-size: 57px 16px;
  width: 65px;
  min-height: 36px;
  float: left;
  padding: 0;
  height: auto;
}
.bar .brand-header {
  background-color: #fff;
}
.bar .page-body {
  position: relative;
}
.jumbo-dropdown {
  margin-top: 8px;
  display: block;
  cursor: pointer;
  color: #0077c5;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.jumbo-dropdown:before,
.jumbo-dropdown:after {
  content: " ";
  display: table;
}
.jumbo-dropdown:after {
  clear: both;
}
.jumbo-dropdown .dd-label,
.jumbo-dropdown .dd-text,
.jumbo-dropdown .swiper-container,
.jumbo-dropdown .dd-arrow {
  float: left;
}
.jumbo-dropdown .dd-label {
  font-weight: 200;
  display: inline-block;
  margin-right: 5px;
}
.jumbo-dropdown .dd-value {
  font-weight: 800;
}
.jumbo-dropdown .dd-arrow {
  margin-left: 5px;
  position: relative;
  top: 3px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.jumbo-dropdown .dd-arrow:before {
  content: "\f107";
}
.jumbo-dropdown.open .dd-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.jumbo-dropdown .swiper-container {
  width: auto;
  height: 30px;
}
.jumbo-dropdown .swiper-slide {
  display: inline-block;
}
.dropdown {
  position: absolute;
  z-index: 95;
  top: -5000px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 60px 0 40px 0;
  -webkit-transition: top 0.8s ease-in-out;
  -moz-transition: top 0.8s ease-in-out;
  -ms-transition: top 0.8s ease-in-out;
  -o-transition: top 0.8s ease-in-out;
}
.dropdown .dropdown-footer {
  margin-top: 125px;
  text-align: center;
}
.dropdown .dropdown-footer ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: inline-block;
}
.dropdown .dropdown-footer ul:before,
.dropdown .dropdown-footer ul:after {
  content: " ";
  display: table;
}
.dropdown .dropdown-footer ul:after {
  clear: both;
}
.dropdown .dropdown-footer ul li {
  float: left;
  color: #fff;
  font-weight: 200;
}
.dropdown .dropdown-footer ul li a {
  color: inherit;
  padding: 0 10px;
}
.dropdown .dropdown-footer ul li:after {
  content: "|";
}
.dropdown .dropdown-footer ul li:last-child:after {
  content: "";
}
.dropdown-concept-one {
  background: rgba(0, 0, 0, 0.84);
}
.dropdown-concept-one .dropdown-header {
  margin-bottom: 100px;
}
.dropdown-concept-one .dropdown-header .title {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 200;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}
.dropdown-concept-one .product {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
}
.dropdown-concept-one .product .logo {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.dropdown-concept-one .product .tagline {
  font-family: inherit;
  font-weight: 200;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 35px;
}
.dropdown-concept-one .product .tagline strong {
  font-weight: 800;
  display: block;
}
.dropdown-concept-one .product .product-button {
  display: inline-block;
  padding: 0 45px;
  line-height: 35px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  border: solid 1px #a6ec5f;
  position: relative;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
}
.dropdown-concept-one .product .product-button .fa {
  margin-left: 5px;
  position: relative;
  top: 0;
}
.dropdown-concept-one .product.mint .logo {
  background-image: url(/assets/images/concept-bar/mint-logo-white.png);
  width: 72px;
  height: 28px;
}
.dropdown-concept-one .product.mint .product-button {
  border-color: #a6ec5f;
}
.dropdown-concept-one .product.mint .product-button:hover {
  background-color: #a6ec5f;
}
.dropdown-concept-one .product.turbotax .logo {
  background-image: url(/assets/images/concept-bar/turbotax-logo-white.png);
  width: 134px;
  height: 28px;
}
.dropdown-concept-one .product.turbotax .product-button {
  border-color: #d42b1e;
}
.dropdown-concept-one .product.turbotax .product-button:hover {
  background-color: #d42b1e;
}
.dropdown-concept-one .product.quickbooks .logo {
  background-image: url(/assets/images/concept-bar/qb-logo-white.png);
  width: 152px;
  height: 28px;
  position: relative;
  top: 2px;
}
.dropdown-concept-one .product.quickbooks .product-button {
  border-color: #2c9e1c;
}
.dropdown-concept-one .product.quickbooks .product-button:hover {
  background-color: #2c9e1c;
}
@media (min-width: 992px) {
  .dropdown-concept-one .dropdown-header .title {
    font-size: 48px;
  }
}
.dropdown-concept-two {
  background: rgba(0, 119, 197, 0.93);
  padding-top: 30px;
}
.dropdown-concept-two .dropdown-header {
  margin-bottom: 30px;
}
.dropdown-concept-two .dropdown-header .title {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}
.dropdown-concept-two .product {
  margin-bottom: 30px;
  display: block;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.dropdown-concept-two .product .logo {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 7px;
}
.dropdown-concept-two .product .tagline {
  font-family: inherit;
  font-weight: 200;
  font-size: 18px;
  color: #999999;
  margin-top: 0;
}
.dropdown-concept-two .product .tagline strong {
  font-weight: 800;
}
.dropdown-concept-two .product.quickbooks .logo {
  background-image: url(/assets/images/conceptB/quickbooks-logo.png);
  height: 20px;
  width: 119px;
}
.dropdown-concept-two .product.turbotax .logo {
  background-image: url(/assets/images/conceptB/turbotax-logo.png);
  height: 20px;
  width: 97px;
}
.dropdown-concept-two .product.mint .logo {
  background-image: url(/assets/images/concept-bar/mint-logo.png);
  height: 20px;
  width: 65px;
}
.dropdown-concept-two .modal-content {
  width: 99%;
  margin: 0 auto;
  text-align: left;
}
.dropdown-concept-two .modal-content-left,
.dropdown-concept-two .modal-content-right {
  float: left;
}
.dropdown-concept-two .modal-content-left {
  width: 45%;
}
.dropdown-concept-two .modal-content-right {
  width: 55%;
  padding: 25px 25px 10px 30px;
  position: relative;
}
.dropdown-concept-two .modal-content-right h3 {
  color: #000;
  font-size: 36px;
  margin-top: 0;
}
.dropdown-concept-two .modal-content-right p {
  color: #656565;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
.dropdown-concept-two a.next {
  position: absolute;
  bottom: 10px;
  right: 25px;
  text-transform: uppercase;
  font-size: 12px;
  color: #0077c5;
}
.dropdown-concept-two a.next .fa {
  margin-left: 3px;
}
@media (min-width: 992px) {
  .dropdown-concept-two .modal-content {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .dropdown-concept-two .modal-content {
    width: 80%;
  }
}
.dropdown-concept-three {
  background: rgba(0, 119, 197, 0.93);
  padding-top: 40px;
  padding-bottom: 80px;
}
.dropdown-concept-three .dropdown-header {
  margin-bottom: 30px;
}
.dropdown-concept-three .dropdown-header .title {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 200;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}
.dropdown-concept-three .products:before,
.dropdown-concept-three .products:after {
  content: " ";
  display: table;
}
.dropdown-concept-three .products:after {
  clear: both;
}
.dropdown-concept-three .product {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background: rgba(228, 228, 228, 0.5);
  float: left;
  margin-left: -30px;
  text-decoration: none;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
}
.dropdown-concept-three .product:first-child {
  margin-left: 25px;
}
.dropdown-concept-three .product .logo {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.dropdown-concept-three .product .tagline {
  display: block;
  font-family: inherit;
  font-weight: 200;
  font-size: 18px;
  color: #999999;
  margin-top: 30px;
  line-height: 1;
  color: #0077c5;
}
.dropdown-concept-three .product .tagline strong {
  display: block;
  font-weight: 800;
}
.dropdown-concept-three .product .icon {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dropdown-concept-three .product.turbotax .icon {
  background-image: url(/assets/images/icon-wallet.png);
  height: 34px;
  width: 38px;
  margin-top: 22px;
  margin-bottom: 30px;
}
.dropdown-concept-three .product.turbotax .logo {
  background-image: url(/assets/images/turbotax-logo-396x87.png);
  height: 22px;
  width: 100px;
}
.dropdown-concept-three .product.quickbooks .icon {
  background-image: url(/assets/images/icon-home.png);
  height: 40px;
  width: 40px;
  margin-bottom: 27px;
}
.dropdown-concept-three .product.quickbooks .logo {
  background-image: url(/assets/images/quickbooks-logo-447x81.png);
  height: 22px;
  width: 121px;
}
.dropdown-concept-three .product.mint .icon {
  background-image: url(/assets/images/icon-graph.png);
  height: 43px;
  width: 43px;
  margin-bottom: 23px;
}
.dropdown-concept-three .product.mint .logo {
  background-image: url(/assets/images/mint-logo-237x96.png);
  height: 22px;
  width: 55px;
}
.dropdown-concept-three .modal-content {
  width: 99%;
  margin: 0 auto;
  border-radius: 6px;
  padding: 30px 30px;
}
@media (min-width: 992px) {
  .dropdown-concept-three .modal-content {
    width: 90%
			padding: 60px 80px;
  }
  .dropdown-concept-three .dropdown-header {
    margin-bottom: 40px;
  }
  .dropdown-concept-three .dropdown-header .title {
    font-size: 42px;
  }
  .dropdown-concept-three .products {
    margin-bottom: 30px;
  }
  .dropdown-concept-three .product {
    height: 280px;
    width: 280px;
    margin-left: -50px;
  }
  .dropdown-concept-three .product:first-child {
    margin-left: 50px;
  }
  .dropdown-concept-three .product .tagline {
    margin-top: 60px;
  }
  .dropdown-concept-three .product .icon {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .dropdown-concept-three .product.turbotax .icon {
    margin-top: 40px;
    margin-bottom: 48px;
  }
  .dropdown-concept-three .product.quickbooks .icon {
    margin-bottom: 44px;
  }
  .dropdown-concept-three .product.mint .icon {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .dropdown-concept-three .modal-content {
    width: 75%;
  }
  .dropdown-concept-three .product:first-child {
    margin-left: 20px;
  }
}
.secondary-nav {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.secondary-nav .navbar {
  height: 50px;
}
.secondary-nav .brand-wrap {
  height: 50px;
  border-left: solid 1px #cccccc;
  margin-left: 20px;
  padding-left: 20px;
  float: left;
}
.secondary-nav .navbar-brand {
  display: block;
  height: 37px;
  width: 176px;
  background-repeat: no-repeat;
  background-size: cover;
  float: none;
}
.secondary-nav .navbar-nav > li > a {
  padding: 8px 10px 0 10px;
  cursor: pointer;
}
.secondary-nav .navbar-nav > li > a:hover {
  color: inherit;
}
.secondary-nav .navbar-nav {
  margin-top: 2px;
}
.secondary-nav .navbar-collapse .btn {
  margin-top: 2px;
  margin-left: 10px;
}
.secondary-nav .brand-wrap,
.secondary-nav .navbar-collapse {
  padding-top: 6px;
  padding-bottom: 7px;
}
.secondary-nav .navbar-toggle {
  margin-top: 7px;
}
.secondary-nav .btn {
  padding: 6px 15px;
}
.secondary-nav .btn-primary {
  color: #fff;
  background-color: #ff8000;
  border-color: #ff8000;
  border-radius: 4px;
}
.secondary-nav .btn-primary .fa {
  margin-right: 8px;
}
.quickbooks .secondary-nav .navbar-brand {
  background-image: url('../images/conceptA/qb-logo.png');
}
.quickbooks .secondary-nav .navbar-collapse .btn {
  margin-top: 3px;
}
.quickbooks .secondary-nav .btn-primary {
  background-color: #2c9e1c;
  border-color: #2c9e1c;
}
.turbotax .secondary-nav .navbar-brand {
  background-image: url('../images/conceptA/tt-logo.png');
}
.turbotax .secondary-nav .btn {
  padding: 6px 25px;
}
.mint .secondary-nav .navbar-brand {
  background-image: url('../images/conceptA/mint-logo.png');
}
.floating-footer {
  background-color: #f0f0f0;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: -9px;
  z-index: 1000;
  -webkit-transition: bottom 0.5s ease;
  -moz-transition: bottom 0.5s ease;
  -ms-transition: bottom 0.5s ease;
  -o-transition: bottom 0.5s ease;
}
.floating-footer.open {
  bottom: 51px;
}
.floating-footer .inside {
  position: relative;
  text-align: center;
}
.floating-footer .inside ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 27px;
  margin-left: -50px;
  display: inline-block;
}
.floating-footer .inside ul:before,
.floating-footer .inside ul:after {
  content: " ";
  display: table;
}
.floating-footer .inside ul:after {
  clear: both;
}
.floating-footer .inside ul li {
  float: left;
  position: relative;
}
.floating-footer .inside ul li.explore {
  color: #0077c5;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin-right: 25px;
}
.floating-footer .inside ul li.explore img {
  height: 17px;
  width: 58px;
  position: relative;
  top: -4px;
}
.floating-footer .inside ul li.brand {
  margin-right: 30px;
}
.floating-footer .inside ul li.brand:last-child {
  margin-right: 0;
}
.floating-footer .inside ul li.brand a {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.floating-footer .inside ul li.brand.turbotax a {
  background-image: url(/assets/images/conceptB/turbotax-logo.png);
  width: 118px;
  height: 24px;
}
.floating-footer .inside ul li.brand.quickbooks a {
  background-image: url(/assets/images/conceptB/quickbooks-logo.png);
  width: 146px;
  height: 24px;
}
.floating-footer .inside ul li.brand.mint a {
  background-image: url(/assets/images/conceptB/mint-logo.png);
  width: 68px;
  height: 27px;
  position: relative;
  top: -2px;
}
.floating-footer .inside .close-button {
  height: 30px;
  width: 30px;
  border: solid 1px #9b9b9b;
  border-radius: 50%;
  color: #9b9b9b;
  padding-top: 4px;
  text-align: center;
  display: block;
  background-color: #f0f0f0;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.floating-footer .inside .close-button:hover {
  background-color: #9b9b9b;
  color: #f0f0f0;
}
@media (min-width: 992px) {
  .floating-footer .inside ul {
    margin-left: -60px;
  }
  .floating-footer .inside ul li.explore {
    margin-right: 40px;
  }
  .floating-footer .inside ul li.brand {
    margin-right: 55px;
  }
  .floating-footer .inside .close-button {
    right: 25px;
  }
}
