
<megamenu class="megamenu" toggle-button="#menu-button">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<ul class="menu-column-list">
					<li><strong>Small Business</strong></li>
					<li><a>Features</a></li>
					<li><a>Pricing</a></li>
					<li><a>Apps</a></li>
					<li><a>Checks &amp; Supplies</a></li>
					<li><a>Find a QuckBooks Expert</a></li>
					<li><a>Switch to QuickBooks Online</a></li>
					<li><a>QuickBook Enterprise</a></li>
					<li><a>All Products</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="menu-column-list">
					<li><strong>Accountants</strong></li>
					<li><a>QuickBooks Online Accountant</a></li>
					<li><a>QuickBooks ProAdvisor Program</a></li>
					<li><a>Payroll</a></li>
					<li><a>Payroll Full Service</a></li>
					<li><a>Payments</a></li>
					<li><a>Accountant Learn &amp; Support</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="menu-column-list">
					<li><strong>Learn &amp; Support</strong></li>
					<li><a>QuickBooks Help</a></li>
					<li><a>QuickBooks Tutorials</a></li>
					<li><a>Find a QuickBooks Expert</a></li>
					<li><strong class="qb-green">Small Business Center</strong></li>
					<li><a>QuickBooks Online Blog</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="menu-column-list borderless">
					<li class="brand intuit">
						<img src="/assets/images/intuit-logo-222x66.png" />
						<strong>Explore other ways Intuit<br/>can simplify your life:</strong>
					</li>
					<li class="brand turbotax">
						<span>Simplify your taxes</span>
						<img src="/assets/images/turbotax-logo-396x87.png" />
					</li>
					<li class="brand mint">
						<span>Simplify your money</span>
						<img src="/assets/images/mint-logo-237x96.png" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</megamenu>