

<div>
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed">
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		            </button>
		            <div class="brand-wrap">
		            	<a class="navbar-brand"></a>
		            </div>
		            
				</div>
				<div class="navbar-collapse collapse clearfix">
					<div class="pull-right">
						<a class="btn btn-primary">Buy Now</a>
					</div>
					<ul class="nav navbar-nav pull-right">
						<li><a>Sign In</a></li>
						<li><a>Free Trial</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="body">
		
	</div>
	<div>
		<ul>
			<li><a href="#/concept/a/mint">Mint</a></li>
			<li><a href="#/concept/a/turbotax">TurboTax</a></li>
			<li><a href="#/concept/a/quickbooks">Quickbooks</a></li>
		</ul>
	</div>
</div>