<div class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="page-footer-left">
					<div class="intuit-logo-wrap">
						<img src="/assets/images/intuit-logo-189x54.png" alt="Intuit" />
						<span>simplify the business of life</span>
					</div>
					<ul class="social">
						<li><a><i class="fa fa-rss"></i></a></li>
						<li><a><i class="fa fa-twitter"></i></a></li>
						<li><a><i class="fa fa-facebook"></i></a></li>
						<li><a><i class="fa fa-linkedin"></i></a></li>
						<li><a><i class="fa fa-youtube-play"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-footer-center">
					&copy; 2015 Intuit, Inc. All rights reserved.  Intuit, TurboTax, Quickbooks, and Mint are registered trademarks of Intuit, Inc.  Terms and conditions are subject to change without notice.
				</div>
			</div>
			<div class="col-sm-3">
				<div class="page-footer-right">
					<ul>
						<li><a>Legal</a></li>
						<li><a>Privacy</a></li>
						<li><a>Security</a></li>
					</ul>
					<div class="clearfix">
						<img src="/assets/images/truste-99x31.png" alt="" class="pull-right" />
					</div>
				</div>					
			</div>
		</div>
	</div>
</div>