<header class="page-header">
	<div class="brand-header">
		<div class="container clearfix">
			<ul class="brand-menu">
				<li class="intuit">
					<a href="#/concept/b/intuit">Intuit</a>
				</li>
				<li class="quickbooks">
					<a href="#/concept/b/quickbooks">Quickbooks</a>
				</li>
				<li class="turbotax">
					<a href="#/concept/b/turbotax">TurboTax</a>
				</li>
				<li class="mint">
					<a href="#/concept/b/mint">Mint</a>
				</li>
			</ul>
			<a class="safe-secure">
				<img src="/assets/images/lock-blue-45x51.png" />Safe &amp; Secure
			</a>
		</div>
	</div>
</header>