
<div class="page">
	<header class="page-header">
		<div class="brand-header">
			<div class="container clearfix">
				<ul class="brand-menu">
					<li class="intuit"><a href="">Intuit</a></li>
					<li class="quickbooks active"><a href="#/concept/b/quickbooks">Quickbooks</a></li>
					<li class="turbotax"><a href="#/concept/b/turbotax">Turbotax</a></li>
					<li class="mint"><a href="#/concept/b/mint">Mint</a></li>
				</ul>
				<a class="safe-secure">
					<i class="fa fa-lock"></i>Safe &amp; Secure
				</a>
			</div>
		</div>
	</header>

	<div class="page-body">
		<img src="/assets/images/conceptA/qb-body.jpg" class="img-responsive" />
	</div>

	<div class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="page-footer-left">
						<div class="intuit-logo">simplify the business of life</div>
						<ul class="social">
							<li><a><i class="fa fa-rss"></i></a></li>
							<li><a><i class="fa fa-twitter"></i></a></li>
							<li><a><i class="fa fa-facebook"></i></a></li>
							<li><a><i class="fa fa-linkedin"></i></a></li>
							<li><a><i class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					&copy; 2015 Intuit, Inc. All rights reserved.  Intuit, TurboTax, Quickbooks, and Mint are registered trademarks of Intuit, Inc.  Terms and conditions are subject to change without notice.
				</div>
				<div class="col-sm-3">
					<div class="page-footer-right">
						<ul>
							<li><a>Legal</a></li>
							<li><a>Privacy</a></li>
							<li><a>Security</a></li>
						</ul>
						<div>
							<img src="" />
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>
