

<div class="page">
	<header class="page-header" id="turbotax-header">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button id="tt-menu-button" type="button" class="navbar-toggle collapsed">
		              <span class="icon-bar top-bar"></span>
		              <span class="icon-bar middle-bar"></span>
		              <span class="icon-bar bottom-bar"></span>
		            </button>
		            <div class="brand-wrap">
		            	<a class="navbar-brand"></a>
		            </div>
				</div>
				<div class="navbar-collapse collapse clearfix">
					<div class="pull-right">
						<a class="btn btn-primary">Sign In</a>
					</div>
				</div>
			</div>
		</nav>
	</header> 
	
	<megamenu class="megamenu" toggle-button="#tt-menu-button" header="#turbotax-header">
		<div class="container">
			<ul class="menu-column-list">
				<li><strong>Get Started</strong></li>
				<li><a>Start my taxes online</a></li>
				<li><a>Start with CD/Download</a></li>
				<li><a>How TurboTax works</a></li>
				<li><a>Why choose TurboTax</a></li>
				<li><a>What's new with TurboTax</a></li>
				<li><a>Information in Spanish</a></li>
				<li><a>How TurboTax covers the ACA</a></li>
				<li><a>Access my downloads</a></li>
				<li><a>File an IRS extension</a></li>
			</ul>
			<ul class="menu-column-list">
				<li><strong>Products &amp; Pricing</strong></li>
				<li><a>Online Products</a></li>
				<li><a>CD/download products</a></li>
				<li><a>Mobile products</a></li>
				<li><a>Small business taxes</a></li>
				<li><a>Military</a></li>
				<li><a>Compare products</a></li>
				<li><a>TurboTax Advantage</a></li>
				<li><a>Previous years' products</a></li>
				<li><a>TurboTax Personal Pro</a></li>
			</ul>
			<ul class="menu-column-list">
				<li><strong>Tools &amp; Tips</strong></li>
				<li><a>Tax calculators</a></li>
				<li><a>Tax tips &amp; videos</a></li>
				<li><a>Health care and your taxes</a></li>
				<li><a>Track my donations</a></li>
				<li><a>TurboTax blog</a></li>
			</ul>
			<ul class="menu-column-list">
				<li class="brand intuit">
					<img src="/assets/images/intuit-logo-222x66.png" />
					<strong>Explore other ways Intuit <br class="visible-lg" />can simplify your life:</strong>
				</li>				
				<li class="brand quickbooks">
					<a href="#/concept/d/quickbooks">
						<span>Simplify your business</span>
						<img src="/assets/images/quickbooks-logo-447x81.png" />
					</a>
				</li>
				<li class="brand mint">
					<a href="#/concept/d/mint">
						<span>Simplify your money</span>
						<img src="/assets/images/mint-logo-237x96.png" />
					</a>
				</li>
			</ul>
		</div>
	</megamenu>

	<div class="page-body">
		<img src="/assets/images/conceptA/tt-body.jpg" class="img-responsive" />
	</div>
	
</div>