
<div class="page bar">
	<header class="page-header">
		<div class="brand-header">
			<div class="container clearfix">
				<div class="brand-wrap">
					<a class="navbar-brand"></a>           	
	            </div>
	            <div class="pull-right">
	            	<jumbo-dropdown  dropdown-target="#dd2" open-text="We're more than" closed-text="See how we're more than" class="jumbo-dropdown">
		            	<span class="dd-label">See how we're more than</span> <span class="dd-value">budgets</span> <span class="dd-arrow"></span>
		            </jumbo-dropdown>
	            </div>		            
			</div>
		</div>
	</header>

	<div class="page-body">
		<img src="/assets/images/conceptB/mint-body.jpg" class="img-responsive" />	
	</div>

	<div id="dd2" class="dropdown dropdown-concept-two">
		<div class="container">			
			<div class="dropdown-header">
				<h2 class="title">Get more done with Intuit</h2>
			</div>
			<div class="modal-content clearfix">
				<div class="modal-content-left">
					<img src="/assets/images/concept-bar/joy.jpg" class="img-responsive" />
				</div>
				<div class="modal-content-right">
					<h3>Meet Joy</h3>
					<p>
						Joy turned her love for blogging into a money-making business. Intuit was there from the beginning, setting personal financial goals that were doable. The money management skills she learned helped her launch Oh Joy! Studio on her own. Her "can-do spirit" is also what helped her get the biggest paycheck of the year from her tax refund.
					</p>
					<a href="#/concept/c/quickbooks" class="product quickbooks">
						<span class="logo"></span>
						<span class="tagline">Simplify your <strong>business</strong></span>
					</a>
					<a href="#/concept/c/mint" class="product mint">
						<span class="logo"></span>
						<span class="tagline">Simplify your <strong>money</strong></span>
					</a>
					<a href="#/concept/c/turbotax" class="product turbotax">
						<span class="logo"></span>
						<span class="tagline">Simplify your <strong>taxes</strong></span>
					</a>					
				</div>
				<a class="next">Next Profile <i class="fa fa-caret-right" /></a>
			</div>
			
			<div class="dropdown-footer">
				<ul>
					<li><a>All Intuit products</a></li>
					<li><a>Customer Service</a></li>
					<li><a>Careers</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>