
<div class="page bar">
	<header class="page-header">
		<div class="brand-header">
			<div class="container clearfix">
				<div class="brand-wrap">
					<a class="navbar-brand"></a>           	
	            </div>
	            <div class="pull-right">
	            	<jumbo-dropdown  dropdown-target="#dd2" class="jumbo-dropdown">
		            	<span class="dd-label">See how we're more than </span><span class="dd-value">taxes</span> <span class="dd-arrow"></span>
		            </jumbo-dropdown>
	            </div>		            
			</div>
		</div>
	</header>

	<div class="page-body">
		<img src="/assets/images/conceptB/tt-body.jpg" class="img-responsive" />	
	</div>

	<div id="dd2" class="dropdown dropdown-concept-three">
		<div class="container">		
			<div class="modal-content">
				<div class="dropdown-header">
					<h2 class="title">Where all the financial benefits<br/>in life come together</h2>
				</div>
				<div class="products">
					<a href="#/concept/c/turbotax"class="product turbotax">
						<span class="tagline"><strong>Get</strong>your money</span>
						<span class="icon"></span>
						<span class="logo"></span>
					</a>
					<a href="#/concept/c/quickbooks" class="product quickbooks">
						<span class="tagline"><strong>Make</strong>more money</span>
						<span class="icon"></span>
						<span class="logo"></span>
					</a>
					<a href="#/concept/c/mint" class="product mint">
						<span class="tagline"><strong>Manage</strong>your money</span>
						<span class="icon"></span>
						<span class="logo"></span>
					</a>
				</div>
			</div>
			
			<div class="dropdown-footer">
				<ul>
					<li><a>All Intuit products</a></li>
					<li><a>Customer Service</a></li>
					<li><a>Careers</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>